<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" th:href="@{/}">
            Gimnasio Fitness
        </a>

        <div class="navbar-nav">

            <a class="nav-link" th:href="@{/}">
                Inicio
            </a>

            <a class="nav-link" th:href="@{/categoria/listado}">
                Categorías
            </a>

            <a class="nav-link" th:href="@{/servicio/listado}">
                Clases
            </a>

            <a class="nav-link" th:href="@{/reserva/listado}">
                Reservas
            </a>

            <a class="nav-link" th:href="@{/contacto}">
                Contacto
            </a>

        </div>

    </div>
</nav>